

<nav class="navbar navbar-light bg-dark p-2 mx-4">
    <div class="container-fluid">
      <ul class="navbar-nav me-auto mb-2 mb-lg- d-flex navbarcss">
        <li class="nav-item me-3 ">
           <a  routerLink="/home" class="nav-link active" >Home</a>
        </li>
        <li class="nav-item nav-link me-3">
          <a  routerLink="/about" class="nav-link active" >About</a>
       </li>
       <li class="nav-item nav-link me-3">
        <a  routerLink="/contact" class="nav-link active"  >Contact</a>
     </li>
        </ul>
      <form class="">
        <i class="fa fa-search search"></i>
        <input (input)="searchModel()" [(ngModel)]="searchText" name="search"
        class="form-control me-2 icone-loupe searchstyle" type="search" placeholder="Chercher un modèle 3D" aria-label="Search">
      </form>
      <button  class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <i class="fa fa-plus "></i>
    Ajouter un modèle 3D
    </button>
  </div>
  </nav>
  
