.search {
    position: absolute;
    margin: 10px;
    color: #6E757D;
}
.searchstyle{
    background-color: #272a30;
    border: none;
    border-radius: 7px;
    padding-left: 34px;
}
input::placeholder {
    color: #6E757D;
  }

  