.scroll {
    /* overflow-y: scroll; */
    height: 600px;
    overflow-x: hidden;
}    
/* .scroll2 {
    overflow-y: scroll;
    height: 00px;
    overflow-x: hidden;
}     */

#style-3::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #545353;
}

#style-3::-webkit-scrollbar
{
	width: 4px;
	background-color: #545353;
}

#style-3::-webkit-scrollbar-thumb
{
	background-color: #fff;
}




.card {
    background-color: #191d20;
    color: #fff;
    font-size: 14px;
   
}
.btn {
    color: #fff;
}
a{
    color: #fff;
}

.background {
    background-color: #191d20;
}