
ListmodeledetailComponent
    <div class="card d-flex mb-3"  >
        <span class="d-flex flex-row bd-highlight">
            <!-- <div class="p-2 bd-highlight"> Date : {{resultimages?.id| date: 'dd/MM/yyyy' }} </div> -->
          </span>
       
            <div class="p-2 bd-highlight"> {{resultimages?.id}}</div>
            <div class="p-2 bd-highlight"> {{resultimages?.date | date: 'dd/MM/yyyy'}}</div>
            <div class="p-2 bd-highlight"> {{resultimages?.name}}</div>
            <div class="p-2 bd-highlight"> {{resultimages?.modelName}}</div>
            <div class="p-2 bd-highlight"> {{resultimages?.polygons}}</div>

    </div>